<h1>You searched for: <%= @benefit.name %></h1>

<% @menus.each do |menu| %>
<% @benefits = menu.benefit_ids %>
<% end %>

<% if @benefit.id == @benefits %>
<% @menus.each do |menu| %>
<!-- print only the menu option with that benefit id attached -->
<% end %>
<% end %>
