
/////////////////////////////////BENEFITS DIFFERENT STYLING//////////////////////////////////////

// * {
//   border: green 1px solid;
// }

#benefitmain {
    transition: margin-left .5s;
    margin-top: -38px;
}

.benefitpageheading {
  font-family: 'Rubik', sans-serif;
  font-size: 29px;
  max-width: 741px;
  line-height: 1.4;
  font-weight: 500;
  color: #333229;
  margin-top: 21px;
  margin-bottom: 40px;
  margin-left: 430px;
}

.benefitsubheading {
  font-family: 'Rubik', sans-serif;
  font-size: 38px;
  font-weight: 500;
  color: #2dec9d;
  padding-right: 0;
  list-style: none;
  max-width: 500px;
  text-align: center;
}

.fineprint {
  font-family: 'Rubik', sans-serif;
  font-size: 16px;
  color: #333229;
  margin-left: 432px;
  padding-top: 50px;
  margin-top: 0;
  width: 166px;
  line-height: 1.4;
}

.benefitsubheading:hover {
  text-decoration: none;
  color: #333229;
}

.benefitlist {
  max-height: 500px;
  max-width: 904px;
  margin-left: 338px;
  overflow-y: scroll;
  overflow-x: hidden;
}

#HIDESCROLL {
  overflow: hidden;
}


///////////////////////////BENEFITS RESULTS PAGE//////////////////////////////

.resultsheading {
  font-family: 'Rubik', sans-serif;
  font-size: 38px;
  font-weight: 500;
  color: #2dec9d;
  padding-right: 0;
  list-style: none;
  text-align: left;
  max-width: 800px;
  margin-left: 500px;
  margin-bottom: 50px;
  margin-top: 38px;
}

.resultsubheading {
  font-family: 'Rubik', sans-serif;
  font-size: 21px;
  max-width: 741px;
  line-height: 1.4;
  font-weight: 500;
  color: #333229;
  margin-top: 31px;
  margin-bottom: 40px;
  margin-left: 493px;
}
