
/////////////////////////MENU ALL STYLING///////////////////////////

.sidebar {
  background-color: #333229;
  display: inline-block;
  height: 100vh;
  margin: 0;
  padding: 0;
  position: fixed;
}

.menulogo {
  font-family: 'Ubuntu', sans-serif;
  font-size: 50px;
  font-weight: 700;
  color: white;
  text-align: left;
  margin-bottom: 0;
  margin-left: 14px;
  display: block;
}

.menulogo:hover {
  color: white;
  text-decoration: none;
}

.menutagline {
  font-family: 'Ubuntu', sans-serif;
  font-size: 18px;
  color: white;
  text-align: left;
  margin: 0;
  margin-left: 27px;
  display: block;
  max-width: 20px;
}

.menutagline:hover {
  color: white;
  text-decoration: none;
}

a.sidenav {
  color: white;
  font-family: 'Rubik', sans-serif;
  display: block;
  font-size: 30px;
  padding-bottom: 42px;
  padding-right: 0;
  line-height: 1;
  padding-left: 20px;
}

a.sidenav:hover {
  text-decoration: none;
}

#firstitem {
  margin-top: 57px;
}

.or-text {
  color: white;
  font-family: 'Rubik', sans-serif;
  display: inline-block;
  font-size: 30px;
  padding-right: 0;
  line-height: 1;
  margin-left: 20px;
  margin-bottom: 21px;
  border-bottom: white solid 5px;
}

.menubody {
  background-color: white;
  color: #333229;
  font-family: 'Rubik', sans-serif;
  margin-bottom: 120px;
}

.counternote {
  font-size: 18px;
  color: #333229;
  font-family: 'Rubik', sans-serif;
}

.pageheading {
  font-family: 'Rubik', sans-serif;
  font-size: 50px;
  font-weight: 500;
  color: #333229;
  margin-top: 31px;
  margin-bottom: 61px;
  text-align: center;
}

.pagesubheading {
  font-family: 'Rubik', sans-serif;
  font-size: 29px;
  font-weight: 500;
  color: #333229;
  margin-top: 31px;
  margin-bottom: 12px;
  text-align: center;
}

.menuheading {
  list-style: none;
  font-size: 30px;
  color: #333229;
  font-weight: 200;
}

span.menuprice {
  list-style: none;
  font-size: 30px;
  color: #333229;
  font-weight: 200;
  margin-left: 20px;
}

.menulist {
  list-style: none;
  font-family: 'Rubik', sans-serif;
  font-size: 15px;
  font-weight: 400;
  line-height: 1.5;
  margin: 3px;
  margin-bottom: 25px;
}

/////////////////////////////////FOOTER//////////////////////////////////////

.navbar.navbar-default.navbar-fixed-bottom {
  background-color: #333229;
  border: none;
  margin-top: 50px;
}

.footeritem {
  font-size: 15px;
  display: inline-block;
  text-align: right;
  padding: 7px;
  color: white;
  font-weight: 400;
}

#footerlink {
  font-size: 15px;
  display: inline-block;
  font-weight: bold;
  color: white;
}

#copyright {
  padding-right: 690px;
}

/////////////////////////NEW MENU STYLING///////////////////////////

.checkbox label {
  padding: 0;
  margin: 0;
}
