
/////////////////////////MENU ALL STYLING///////////////////////////

.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #333229;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 30px;
}

a.sidenav {
  color: black;
  font-family: 'Rubik', sans-serif;
  font-size: 30px;
  padding-bottom: 42px;
  padding-right: 0;
  line-height: 1;
  padding-left: 20px;
  transition: 0.3s;
}

a.sidenav:hover {
  text-decoration: none;
}

.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 59px;
    color: white;
    margin-left: 50px;
    text-decoration: none;
}

.closebtn:hover {
  text-decoration: none;
}


.fa.fa-bars {
  margin-left: 41px;
  display: inline-block;
}

.mainmenulogo {
  font-family: 'Ubuntu', sans-serif;
  font-size: 50px;
  font-weight: 700;
  color: #333229;
  text-align: left;
  margin-bottom: 0;
  margin-left: 7px;
  display: inline-block;
  margin-top: 5px;
}

.mainmenulogo:hover {
  color: #333229;
  text-decoration: none;
}

.menulogo {
  font-family: 'Ubuntu', sans-serif;
  font-size: 50px;
  font-weight: 700;
  color: white;
  text-align: left;
  margin-bottom: 0;
  margin-left: 14px;
  display: inline-block;
  margin-top: -20px;
}

.menulogo:hover {
  color: white;
  text-decoration: none;
}

.menutagline {
  font-family: 'Ubuntu', sans-serif;
  font-size: 18px;
  color: white;
  text-align: left;
  margin: 0;
  margin-left: 27px;
  display: block;
  max-width: 20px;
}

.menutagline:hover {
  color: white;
  text-decoration: none;
}

#firstitem {
  margin-top: 57px;
}

.navitem {
  color: white;
  font-family: 'Rubik', sans-serif;
  display: inline-block;
  font-size: 30px;
  padding-right: 0;
  line-height: 1;
  margin-left: 20px;
  margin-bottom: 39px;
}

.navitem:hover {
  color: white;
  text-decoration: none;
}

.or-text {
  color: white;
  font-family: 'Rubik', sans-serif;
  display: inline-block;
  font-size: 30px;
  padding-right: 0;
  line-height: 1;
  margin-left: 20px;
  margin-bottom: 33px;
  border-bottom: white solid 5px;
}


.menubody {
  background-color: white;
  color: #333229;
  font-family: 'Rubik', sans-serif;
}

.counternote {
  font-size: 18px;
  color: #333229;
  font-family: 'Rubik', sans-serif;
  margin-top: -50px;
}

.pageheading {
  font-family: 'Rubik', sans-serif;
  font-size: 50px;
  font-weight: 500;
  color: #333229;
  margin-top: 31px;
  margin-bottom: 61px;
  text-align: center;
}

.pagesubheading {
  font-family: 'Rubik', sans-serif;
  font-size: 29px;
  font-weight: 500;
  color: #333229;
  margin-top: 31px;
  margin-bottom: 12px;
  text-align: center;
}

.menuheading {
  list-style: none;
  font-size: 30px;
  color: #333229;
  font-weight: 200;
}

span.menuprice {
  list-style: none;
  font-size: 30px;
  color: #333229;
  font-weight: 200;
  margin-left: 20px;
}

.menulist {
  list-style: none;
  font-family: 'Rubik', sans-serif;
  font-size: 15px;
  font-weight: 400;
  line-height: 1.5;
  margin: 3px;
  margin-bottom: 25px;
}

/////////////////////////////////FOOTER//////////////////////////////////////

.navbar.navbar-default.navbar-fixed-bottom {
  background-color: #333229;
  border: none;
  margin-top: 50px;
}

.footeritem {
  font-family: 'Rubik', sans-serif;
  font-size: 15px;
  display: inline-block;
  text-align: right;
  padding: 7px;
  color: white;
  font-weight: 400;
}

#footerlink {
  font-family: 'Rubik', sans-serif;
  font-size: 15px;
  display: inline-block;
  font-weight: bold;
  color: white;
}

#copyright {
  font-family: 'Rubik', sans-serif;
  padding-right: 690px;
}

/////////////////////////NEW MENU STYLING///////////////////////////

.updateheading {
  font-family: 'Rubik', sans-serif;
  font-size: 38px;
  font-weight: 500;
  color: #000000;
  list-style: none;
  max-width: 500px;
  text-align: center;
  margin-top: 48px;
  margin-bottom: 25px
}

form#new_menu.new_menu {
  text-align: center;
}

input#menu_name {
  font-family: 'Rubik', sans-serif;
  font-size: 15px;
  line-height: 3;
  margin-bottom: 19px;
  margin-left: 38px;
  width: 83%;
  display: block;
}

input#menu_ingredients {
  font-family: 'Rubik', sans-serif;
  font-size: 15px;
  line-height: 3;
  margin-bottom: 19px;
  margin-left: 38px;
  width: 83%;
  display: block;
}

input#menu_price {
  font-family: 'Rubik', sans-serif;
  font-size: 15px;
  line-height: 3;
  margin-bottom: 19px;
  margin-left: 38px;
  width: 83%;
  display: block;
}

input#menu_size {
  font-family: 'Rubik', sans-serif;
  font-size: 15px;
  line-height: 3;
  margin-bottom: 19px;
  margin-left: 38px;
  width: 83%;
  display: block;
}

input#menu_weather {
  font-family: 'Rubik', sans-serif;
  font-size: 15px;
  line-height: 3;
  margin-bottom: 19px;
  margin-left: 38px;
  width: 83%;
  display: block;
}

.checkbox {
  padding: 0;
  margin: 0;
  list-style: none;
  border: 3px black solid;
  margin-top: 10px;
}

label.benefitlabel {
  display: inline-block;
  max-width: 100%;
  text-align: center;
  margin-bottom: 5px;
  font-weight: 500;
  font-size: 18px;
  font-family: 'Rubik', sans-serif;
  margin-right: 11px;
  margin-left: 0;
  padding: 0;
}

.benefitsublabels {
  display: block;
  max-width: 100%;
  text-align: left;
  margin-bottom: 5px;
  font-weight: 500;
  font-size: 18px;
  font-family: 'Rubik', sans-serif;
  margin-right: 11px;
  margin-left: 0;
  padding-left: 142px;
  padding-top: 5px;
  padding-bottom: 5px;
}

input.addbutton {
  font-family: 'Rubik', sans-serif;
  font-size: 33px;
  font-weight: 400;
  color: #ffffff;
  background-color: black;
  border: none;
  padding: 7px;
  list-style: none;
  max-width: 500px;
  text-align: center;
  margin-top: 10px;
}

.editmenuheading {
  list-style: none;
  font-size: 30px;
  color: #333229;
  font-weight: 200;
  margin-top: 17px;
}

.editmenulist {
  list-style: none;
  font-family: 'Rubik', sans-serif;
  font-size: 15px;
  font-weight: 400;
  line-height: 1.5;
  margin: 3px;
  margin-bottom: 9px;
}

li.linkedbenefits {
  font-family: 'Rubik', sans-serif;
  font-size: 19px;
  margin-top: 4px;
  list-style: square;
}

.editheading {
  font-family: 'Rubik', sans-serif;
  font-size: 38px;
  font-weight: 500;
  color: #000000;
  list-style: none;
  max-width: 500px;
  text-align: center;
  margin-top: 48px;
  margin-bottom: 25px
}

a.editbutton {
  font-family: 'Rubik', sans-serif;
  font-size: 21px;
  font-weight: 500;
  color: #000000;
  width: 166px;
  line-height: 1.4;
  padding-top: 14px;
  display: block;
}

.editbutton:hover {
  text-decoration: none;
  color: black;
}

///////////////////////////UPDATE MENU ITEM PAGE//////////////////////////////

input.updatebutton {
  font-family: 'Rubik', sans-serif;
  font-size: 33px;
  font-weight: 400;
  color: #ffffff;
  background-color: #0bf39f;
  border: none;
  padding: 7px;
  list-style: none;
  width: 288px;
  text-align: center;
  margin-top: 10px;
  margin-left: 111px;
}

input.deletebutton {
  font-family: 'Rubik', sans-serif;
  font-size: 33px;
  font-weight: 400;
  color: #ffffff;
  background-color: #f44336;
  border: none;
  padding: 7px;
  list-style: none;
  width: 288px;
  text-align: center;
  margin-top: 10px;
  margin-left: 111px;
}
