// * {
//   border: solid green 1px;
// }

/////////////////////////HOME STYLING///////////////////////////

html {
  margin-top: 0;
  padding: 0;
}

.homebody {
  background-color: #333229;
  font-family: 'Rubik', sans-serif;
  color: white;
}

.logo {
  font-family: 'Ubuntu', sans-serif;
  font-size: 50px;
  font-weight: 700;
  color: white;
  text-align: left;
  margin-bottom: 0;
  margin-left: 25px;
  margin-top: 43px;
}

.logo:hover {
  color: white;
  text-decoration: none;
}

.tagline {
  font-family: 'Ubuntu', sans-serif;
  font-size: 18px;
  color: #F5F7FB;
  text-align: left;
  margin: 0;
  margin-left: 39px;
}

.tagline:hover {
  color: white;
  text-decoration: none;
}

#top, #bottom, #left, #right {
	background: white;
	position: fixed;
	}

#left, #right {
	top: 0; bottom: 0;
	width: 30px;
	}

#left { left: 0; }
#right { right: 0; }

#top, #bottom {
	left: 0; right: 0;
	height: 30px;
	}

#top { top: 0; }

#bottom { bottom: 0; }

.orderheading {
  font-family: 'Rubik', sans-serif;
  font-size: 50px;
  color: white;
  margin-top: 0;
}

.welcome {
  font-family: 'Rubik', sans-serif;
  font-size: 16px;
  color: white;
  margin-top: 55px;
}

.welcomecontainer {
  margin: 40px;
}

.mainbuttons {
  display: inline-block;
  width: 311px;
  height: 159px;
  font-family: 'Rubik', sans-serif;
  background-color: #2dec9d;
  border-width: 10px;
  border-color: white;
  border-style: solid;
  margin: 40px;
}

.mainbuttons:hover {
  background-color: #333229;
}

.mainbuttons a {
  color: white;
  font-size: 44px;
  line-height: 1;
  padding: 18px;
}

.mainbuttons a:hover {
  text-decoration: none;
}

.temperaturelink {
  font-family: 'Rubik', sans-serif;
  font-size: 22px;
  color: white;
  margin-top: 0;
  padding-top: 0;
}

.temperaturelink:hover {
  display: inline-block;
  color: white;
  text-decoration: none;
  border-bottom: solid white 3px;
}

#homefooter {
  background-color: white;
  border: none;
}

.homefooteritem {
  font-size: 15px;
  display: inline-block;
  text-align: right;
  padding: 7px;
  color: #333229;
  font-weight: 400;
}

#homefooterlink {
  font-size: 15px;
  display: inline-block;
  // text-align: center;
  font-weight: bold;
  color: #333229;
}

#homecopyright {
  padding-right: 690px;
}


///////////////////////////////RANDOM PAGE STYLING/////////////////////////////

.randompageheading {
  font-family: 'Rubik', sans-serif;
  font-size: 29px;
  max-width: 741px;
  line-height: 1.4;
  font-weight: 500;
  color: #333229;
  margin-top: 21px;
  margin-bottom: 40px;
  margin-left: 385px;
}

.randomsubheading {
  font-family: 'Rubik', sans-serif;
  font-size: 38px;
  font-weight: 500;
  color: #2dec9d;
  padding-right: 0;
  list-style: none;
  text-align: left;
  max-width: 800px;
  margin-left: 385px;
}

.col-md-4.col-md-offset-0 {
  padding-left: 0;
}

///////////////////////////////WEATHER PAGE STYLING/////////////////////////////

.weathersubheading {
  font-family: 'Rubik', sans-serif;
  font-size: 38px;
  font-weight: 500;
  color: #2dec9d;
  padding-right: 0;
  list-style: none;
  text-align: left;
  max-width: 800px;
  margin-left: 365px;
  margin-bottom: 50px;
  margin-top: 38px;
}

.fa.fa-thermometer-quarter.fa-4x {
  margin-left: 365px;
  display: block;
  margin-top: 18px;
  margin-bottom: 7px;
}

.weatherfineprint {
  font-family: 'Rubik', sans-serif;
  font-size: 16px;
  color: #333229;
  margin-left: 365px;
  margin-top: 0;
  width: 166px;
  line-height: 1.4;
  display: inline-block;
}

////////////////////////////////DASHBOARD STYLING//////////////////////////////

.allusersheading {
  font-family: 'Rubik', sans-serif;
  font-size: 38px;
  font-weight: 500;
  color: #000000;
  padding-right: 0;
  list-style: none;
  max-width: 500px;
  text-align: center;
  margin-top: 48px;
}

.userfineprint {
  font-family: 'Rubik', sans-serif;
  color: #000000;
  margin-left: 432px;
  padding-top: 50px;
  width: 166px;
  line-height: 1.4;
  font-size: 28px;
  margin-top: 35px;
}

.userul{
  margin: 30px;
  margin-left: -20px;
}

.userlist {
  list-style: none;
  font-family: 'Rubik', sans-serif;
  font-size: 16px;
  color: #333229;
}

///////////////////////////////ADMIN FOOTER/////////////////////////////////

.adminbar.navbar-default.navbar-fixed-bottom {
  background-color: #000000;
  border: none;
  margin-top: 50px;
}

/////////////////////////////ADMIN SIDE NAV////////////////////////////////

.adminsidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #000000;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 30px;
}

a.adminsidenav {
  color: black;
  font-family: 'Rubik', sans-serif;
  font-size: 30px;
  padding-bottom: 42px;
  padding-right: 0;
  line-height: 1;
  padding-left: 20px;
  transition: 0.3s;
}

a.adminsidenav:hover {
  text-decoration: none;
}

.adminsidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 59px;
    color: white;
    margin-left: 50px;
    text-decoration: none;
}

.footerlink {
  font-family: 'Rubik', sans-serif;
  font-size: 15px;
  display: inline-block;
  font-weight: bold;
  color: white;
  margin-left: 26px;
}

.footerlink:hover {
  color: white;
}

.signedin_message {
  font-family: 'Rubik', sans-serif;
  font-size: 20px;
  display: inline-block;
  font-weight: 300;
  color: #ffffff;
  margin-left: 26px;
}

.bg-success {
  background-color: rgba(0,0,0,.5);
  text-align: center;
  margin-bottom: 20px;
  height: 72px;
  display: block;
  }
