/*MASTER STYLING SHEET FOR ADMIN FOOTER, DASHBOARD, HOME PAGE, RANDOM & WEATHER PAGES*/


//TESTING
// * {
//   border: green 1px solid;
// }

//////////////////////////////PUBLIC PAGES////////////////////////////
/////////////FOR MENU OR BENEFIT PUBLIC PAGES SEE RELEVANT SCSS FILES/////////

//////////////////////////HOME PAGE///////////////////////////

//margin applied to complete document to allow content to clear footer

html {
  margin-top: 0;
  padding: 0;
  margin-bottom: 120px;
}

//body of page

.homebody {
  background-color: #333229;
  font-family: 'Rubik', sans-serif;
  color: white;
}

//full logo

.logo {
  font-family: 'Ubuntu', sans-serif;
  font-size: 50px;
  font-weight: 700;
  color: white;
  text-align: left;
  margin-bottom: 0;
  margin-left: 25px;
  margin-top: 43px;
}

.logo:hover {
  color: white;
  text-decoration: none;
}

//tagline

.tagline {
  font-family: 'Ubuntu', sans-serif;
  font-size: 18px;
  color: #F5F7FB;
  text-align: left;
  margin: 0;
  margin-left: 39px;
}

.tagline:hover {
  color: white;
  text-decoration: none;
}

//white page border styling

#top, #bottom, #left, #right {
	background: white;
	position: fixed;
	}

#left, #right {
	top: 0; bottom: 0;
	width: 30px;
	}

#left { left: 0; }
#right { right: 0; }

#top, #bottom {
	left: 0; right: 0;
	height: 30px;
	}

#top { top: 0; }

#bottom { bottom: 0; }

//Main page heading

.orderheading {
  font-family: 'Rubik', sans-serif;
  font-size: 50px;
  color: white;
  margin-top: 0;
}

//welcome fine print

.welcome {
  font-family: 'Rubik', sans-serif;
  font-size: 16px;
  color: white;
  margin-top: 55px;
}

.welcomecontainer {
  margin: 40px;
}

//main green buttons styling

.mainbuttons {
  display: inline-block;
  width: 311px;
  height: 159px;
  font-family: 'Rubik', sans-serif;
  background-color: #2dec9d;
  border-width: 10px;
  border-color: white;
  border-style: solid;
  margin: 40px;
}

.mainbuttons:hover {
  background-color: #333229;
}

//main button text links inside

.mainbuttons a {
  color: white;
  font-size: 44px;
  line-height: 1;
  padding: 18px;
}

.mainbuttons a:hover {
  text-decoration: none;
}

//temperature text link

.temperaturelink {
  font-family: 'Rubik', sans-serif;
  font-size: 22px;
  color: white;
  margin-top: 0;
  padding-top: 0;
}

.temperaturelink:hover {
  display: inline-block;
  color: white;
  text-decoration: none;
  border-bottom: solid white 3px;
}

//////////////////////HOME PAGE WHITE FOOTER/////////////////////

//footer container

#homefooter {
  background-color: white;
  border: none;
}

//footer items that aren't links

.homefooteritem {
  font-size: 15px;
  display: inline-block;
  text-align: right;
  padding: 7px;
  color: #333229;
  font-weight: 400;
}

//footer links

#homefooterlink {
  font-size: 15px;
  display: inline-block;
  // text-align: center;
  font-weight: bold;
  color: #333229;
}

//additional styling for copyright text

#homecopyright {
  padding-right: 690px;
}


///////////////////////////////RANDOM PAGE STYLING/////////////////////////////

//main page heading

.randompageheading {
  font-family: 'Rubik', sans-serif;
  font-size: 29px;
  max-width: 741px;
  line-height: 1.4;
  font-weight: 500;
  color: #333229;
  margin-top: 21px;
  margin-bottom: 40px;
  margin-left: 385px;
}

//random meal text

.randomsubheading {
  font-family: 'Rubik', sans-serif;
  font-size: 38px;
  font-weight: 500;
  color: #2dec9d;
  padding-right: 0;
  list-style: none;
  text-align: left;
  max-width: 800px;
  margin-left: 385px;
}

//main content container

.col-md-4.col-md-offset-0 {
  padding-left: 0;
}

///////////////////////////////WEATHER PAGE STYLING/////////////////////////////

//green main page heading

.weathersubheading {
  font-family: 'Rubik', sans-serif;
  font-size: 38px;
  font-weight: 500;
  color: #2dec9d;
  padding-right: 0;
  list-style: none;
  text-align: left;
  max-width: 800px;
  margin-left: 365px;
  margin-bottom: 50px;
  margin-top: 38px;
}

//thermometer icon

.fa.fa-thermometer-quarter.fa-4x {
  margin-left: 365px;
  display: block;
  margin-top: 18px;
  margin-bottom: 7px;
}

//its currently x degrees fineprint text

.weatherfineprint {
  font-family: 'Rubik', sans-serif;
  font-size: 16px;
  color: #333229;
  margin-left: 365px;
  margin-top: 0;
  width: 166px;
  line-height: 1.4;
  display: inline-block;
}

////////////////////////////////DASHBOARD STYLING//////////////////////////////

//signed in as messgae bar

.signedin_message {
  font-family: 'Rubik', sans-serif;
  font-size: 20px;
  display: inline-block;
  font-weight: 300;
  color: #ffffff;
  margin-left: 26px;
}

.bg-success {
  background-color: rgba(0,0,0,.5);
  text-align: center;
  margin-bottom: 20px;
  height: 72px;
  display: block;
  }

//BiteRite logo

.loginlogo {
  font-family: 'Ubuntu', sans-serif;
  font-size: 50px;
  font-weight: 700;
  color: #333229;
  text-align: center;
  margin-bottom: 0;
  margin-left: 7px;
  display: inline-block;
  margin-top: 5px;
  }

.loginlogo:hover {
  color: #333229;
  text-decoration: none;
  }

//all users heading

.allusersheading {
  font-family: 'Rubik', sans-serif;
  font-size: 38px;
  font-weight: 500;
  color: #000000;
  padding-right: 0;
  list-style: none;
  max-width: 500px;
  text-align: center;
  margin-top: 48px;
}

//Type heading

.userfineprint {
  font-family: 'Rubik', sans-serif;
  color: #000000;
  margin-left: 432px;
  padding-top: 50px;
  width: 166px;
  line-height: 1.4;
  font-size: 28px;
  margin-top: 35px;
}

//list of users

.userul{
  margin: 30px;
  margin-left: -20px;
}

//user list items

.userlist {
  list-style: none;
  font-family: 'Rubik', sans-serif;
  font-size: 16px;
  color: #333229;
}

///////////////////////////////ADMIN FOOTER/////////////////////////////////

//change in color for admin footer

.adminbar.navbar-default.navbar-fixed-bottom {
  background-color: #000000;
  border: none;
  margin-top: 50px;
}

//sign out footer item

.footerlink {
  font-family: 'Rubik', sans-serif;
  font-size: 15px;
  display: inline-block;
  font-weight: bold;
  color: white;
  margin-left: 26px;
}

.footerlink:hover {
  color: white;
}

/////////////////////////////ADMIN SIDE NAV////////////////////////////////

//change in color for admin side nav

.adminsidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #000000;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 30px;
}

// a.adminsidenav {
//   color: black;
//   font-family: 'Rubik', sans-serif;
//   font-size: 30px;
//   padding-bottom: 42px;
//   padding-right: 0;
//   line-height: 1;
//   padding-left: 20px;
//   transition: 0.3s;
// }
//
// a.adminsidenav:hover {
//   text-decoration: none;
// }

//admin side nav X icon

.adminsidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 59px;
    color: white;
    margin-left: 50px;
    text-decoration: none;
}
